<form>
  <input type="file" (change)="doSelectFile($event)">
</form>
<div id="editor" *ngIf="svgBackgroundData" [class.dark]="darkMode">

  <div id="controls">
    <div>
      <p><button type="button" (click)="doToggleDarkMode()">Toggle dark mode</button></p>
      <dl>
        <dt><label for="flipX">Flip X?</label></dt>
        <dd><input id="flipX" name="flipX" type="checkbox" [(ngModel)]="species.flipX" [value]="1" (change)="doChangeGripProperty()"></dd>
        <dt>Hand X</dt>
        <dd>{{ species.handX }}</dd>
        <dt>Hand Y</dt>
        <dd>{{ species.handY }}</dd>
        <dt><label for="gripAngle">Hand Angle</label></dt>
        <dd class="range">
          <input id="gripAngle" name="gripAngle" type="number" min="-180" max="180" [(ngModel)]="species.handAngle" (input)="doChangeGripProperty()">
          <input name="gripAngle2" type="range" min="-180" max="180" [(ngModel)]="species.handAngle" (input)="doChangeGripProperty()">
        </dd>
        <dt><label for="handBehind">Hand Behind?</label></dt>
        <dd><input id="handBehind" handBehind="flipX" type="checkbox" [(ngModel)]="species.handBehind" [value]="1" (change)="doChangeGripProperty()"></dd>

        <dt>Hat X</dt>
        <dd>{{ species.hatX }}</dd>
        <dt>Hat Y</dt>
        <dd>{{ species.hatY }}</dd>
        <dt><label for="hatAngle">Hat Angle</label></dt>
        <dd class="range">
          <input id="hatAngle" name="hatAngle" type="number" min="-180" max="180" [(ngModel)]="species.hatAngle" (input)="doChangeGripProperty()">
          <input name="hatAngle2" type="range" min="-180" max="180" [(ngModel)]="species.hatAngle" (input)="doChangeGripProperty()">
        </dd>
      </dl>
      <p class="sql">{{ SQL }}</p>
    </div>
  </div>

  <div id="subject">
    <div [ngStyle]="{ backgroundImage: svgBackgroundData }" [style.width]="ITEM_SIZE + 'px'" [style.height]="ITEM_SIZE + 'px'" (click)="doSpeciesClick($event)"></div>
    <span id="mode">
      <label for="setHand"><input id="setHand" type="radio" [(ngModel)]="mode" value="setHand"> Click to set Hand</label>
      <label for="setHead"><input id="setHead" type="radio" [(ngModel)]="mode" value="setHat"> Click to set Hat</label>
    </span>
  </div>

  <div id="preview">
    <div *ngFor="let o of OUTFITS; let i = index">
      <img [ngStyle]="{ backgroundImage: svgBackgroundData }" id="pet" style="z-index: 1">
      <div class="item" [ngStyle]="hatPositionStyle[i]" style="z-index: 2">
        <img [ngStyle]="hatRotationStyle[i]" [src]="'assets/test-images/hats/' + o.hat.image + '.svg'">
      </div>
      <div class="item" [ngStyle]="toolPositionStyle[i]" [style.z-index]="species.handBehind ? 0 : 3">
        <img [ngStyle]="toolRotationStyle[i]" [src]="'assets/test-images/tools/' + o.tool.image + '.svg'">
      </div>
    </div>
  </div>
</div>
