:host {
  display: flex;
  flex-direction: row;
  gap: 0.5em;

  > div { position: relative; }
}

img {
  width: 2em;
  height: 2em;
  display: block;
  position: relative;
}

.tree-line {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #333;
}

.connecting-line
{
  position: absolute;
  top: 1em;
  left: -1.5em;
  right: 0;
  height: 1px;
  background-color: #333;
}

.accordion-button
{
  position: absolute;
  left: -2.25em;
  width: 1.5em;
  text-align: center;
  top: .25em;
  padding: 0;
  height: 1.5em;
}
