<p><select [(ngModel)]="action.type" (change)="doChangeType(action.type)">
  <option *ngFor="let type of ACTION_TYPES" [value]="type">{{ type }}</option>
</select></p>
<ng-container *ngIf="action.type === 'exit'"></ng-container>
<ng-container *ngIf="action.type === 'receiveItem'">
  <pre>@TODO receive item</pre>
</ng-container>
<ng-container *ngIf="action.type === 'setStep'">
  <select [(ngModel)]="action.step">
    <option *ngFor="let s of storySections" [value]="s.id">#{{ s.id }} - {{ s.style }}: {{ s.content|slice:0:40 }}</option>
  </select>
</ng-container>